<ion-header>
  <ion-toolbar>
    <ion-title>Add Items</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col >
        <img src={{data.URL}}/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >{{data.Name}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col >{{data.Description}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col >{{data.Price}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-icon name="remove-circle" (click)="decrement()"></ion-icon>
      </ion-col>
      <ion-col>
        {{currentNumber}}
      </ion-col>
      <ion-col>
        <ion-icon name="add-circle" (click)="increment()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="confirm()">Submit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
