<ion-header>
  <ion-toolbar>
    <ion-title>Pizza</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor = "let pizza of data">
    <ion-card-header>
      <ion-card-subtitle>{{pizza.Price}}</ion-card-subtitle>
      <ion-card-title>{{pizza.Name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{pizza.Description}}
    </ion-card-content>
  </ion-card>
</ion-content>
