<ion-header>
  <ion-toolbar>
    <ion-title>Beverages</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor = "let beverages of data">
    <ion-card-header>
      <ion-card-subtitle>{{beverages.Price}}</ion-card-subtitle>
      <ion-card-title>{{beverages.Name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{beverages.Description}}
    </ion-card-content>
  </ion-card>

</ion-content>
