<ion-header>
  <ion-toolbar>
    <ion-title>Cocktails & Beer</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor = "let drinks of data">
    <ion-card-header>
      <ion-card-subtitle>{{drinks.Price}}</ion-card-subtitle>
      <ion-card-title>{{drinks.Name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{drinks.Description}}
    </ion-card-content>
  </ion-card>

</ion-content>
