<ion-header>
  <ion-toolbar>
    <ion-title>Main Menu</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  
<div *ngIf="menu">

  <ion-item (click)="Burger_Menu()" >
    <ion-label>
      Burgers
    </ion-label>
    <ion-icon name="pizza" size="large" slot="end"></ion-icon>
  </ion-item>
  <ion-item (click)="Pizza_Menu()">
    <ion-label>
      Pizza
    </ion-label>
    <ion-icon name="pizza" size="large" slot="end"></ion-icon>
  </ion-item>
  <ion-item (click)="Beverages_Menu()">
    <ion-label>
      Beverages
    </ion-label>
    <ion-icon name="beer" size="large" slot="end"></ion-icon>
  </ion-item >
  <ion-item (click)="Alcohol()">
    <ion-label>
      Alcoholic Beverages
    </ion-label >
    <ion-icon name="beer" size="large" slot="end"></ion-icon>
  </ion-item>
  <ion-item (click)="Sides()">
    <ion-label>
      Sides
    </ion-label >
    <ion-icon name="fries" size="large" slot="end"></ion-icon>
  </ion-item>
  
</div>

<div *ngIf="recent">

    <ion-card (click)="openModal(items)" *ngFor = "let items of data">
        <ion-card-header>
         <ion-card-title>
           Order Date: {{ items.Date | date }}
         </ion-card-title>
        </ion-card-header >

       
      
        <ion-card-content >
           <tr>Entree:</tr> 
          <tr *ngFor = "let entree of items.Entree | keyvalue">{{ entree.value.name }} | Quantity: {{ entree.value.quantity }}</tr>

          <tr>Side:</tr> 
          <tr *ngFor = "let side of items.Side | keyvalue">{{ side.value.name }} | Quantity: {{ side.value.quantity }}</tr>

          <tr>Drinks:</tr> 
          <tr *ngFor = "let drink of items.Drinks | keyvalue">{{ drink.value.name }}  | Quantity: {{ drink.value.quantity }}</tr>

        </ion-card-content>
      </ion-card>
      
    
 



</div>
</ion-content>

<ion-footer>
  <ion-row>
      <ion-col >
        <ion-button (click)="homeselect()" expand="full">Recent Orders</ion-button>
      </ion-col>
      <ion-col >
          <ion-button (click)="menuselect()" expand="full">Menu</ion-button>
        </ion-col>
      <ion-col >
        <ion-button (click)="checkout()" expand="full">Checkout</ion-button>
      </ion-col>
     
  </ion-row>
</ion-footer>