<ion-header>
  <ion-toolbar>
    <ion-title>Main Menu</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 

  <ion-item (click)="Burger_Menu()" >
    <ion-label>
      Burgers
    </ion-label>
    <ion-icon name="pizza" size="large" slot="end"></ion-icon>
  </ion-item>
  <ion-item (click)="Pizza_Menu()">
    <ion-label>
      Pizza
    </ion-label>
    <ion-icon name="pizza" size="large" slot="end"></ion-icon>
  </ion-item>
  <ion-item (click)="Beverages_Menu()">
    <ion-label>
      Beverages
    </ion-label>
    <ion-icon name="beer" size="large" slot="end"></ion-icon>
  </ion-item >
  <ion-item (click)="Alcohol()">
    <ion-label>
      Alcoholic Beverages
    </ion-label >
    <ion-icon name="beer" size="large" slot="end"></ion-icon>
  </ion-item>
  
 