<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
 <section *ngIf="(afAuth.user | async) as user; else loginItems">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{user.email}}
      </ion-card-title>
    </ion-card-header>
  </ion-card>
 </section>  

 <section>

 </section>
<section>
   <ion-button (click)="createAccount()">Register</ion-button>
   <ion-button (click)="login()">Login</ion-button>
   <ion-button (click)="logout()">Logout</ion-button>
</section>

<ng-template #loginItems>
  <h1>You need to log in!</h1>
  <ion-item>
    <ion-label>
      Email
    </ion-label>
    <ion-input [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-label>
    <ion-input type="password" [(ngModel)]="user.password">
    </ion-input>
  </ion-label>
</ng-template>
  
  

</ion-content>
