<ion-header>
  <ion-toolbar>
    <ion-title>Burgers</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="openModal()" expand="full" *ngFor = "let burgers of data">
    <ion-card-header>
      <ion-card-subtitle>{{burgers.Price}}</ion-card-subtitle>
      <ion-card-title>{{burgers.Name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{burgers.Description}}
    </ion-card-content>
  </ion-card>

  
  
  
  
</ion-content>
